<h2> show page </h2>
<h2> <%= @micropost.email %> </h2>
<hr/>
<h2> <%= @micropost.name %> </h2>
<h2> <%= @micropost.message %> </h2>

<%= link_to "edit", edit_micropost_path, :class => "btn btn-warning" %>
<%= link_to "delete", micropost_path(@micropost), :class => "btn btn-danger", method: "delete"%>